.aside {
    width: 250px;
    height: 100vh;
    box-shadow: 5px 5px 10px #bfbfbf, -5px -5px 10px #ffffff;
    position: sticky;
    top: 0;
    z-index: 100; 
}

.aside__container {
    height: 100%;
    overflow-y: auto; 
}
