<aside class="aside">
    <div class="aside__box">
        <div>profil użytkownika</div>
        <hr>
        <nav class="aside__nav">
            <div class="aside__items">

                <div class="aside__item">
                    <a href="#" routerLink="/dashboard" routerLinkActive="active">
                        <i class="fa-solid fa-display"></i>
                        <span class="aside__text"> Dashboard</span>
                    </a>
                </div>

                
                <div class="aside__item">
                    <a href="#" routerLink="/charts" routerLinkActive="active">
                        <i class="fa-solid fa-chart-line"></i>
                        <span class="aside__text"> Chart</span>
                    </a>
                </div>

                <div class="aside__item">
                    <a href="#" routerLink="/tables" routerLinkActive="active">
                        <i class="fa fa-table"></i> 
                        <span class="aside__text"> Tables</span>
                    </a>
                </div>

            </div>
        </nav>
    </div>
</aside>