.dashboard {
  height: 100%;
  width: 100%;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__title {
    margin-top: 2rem;
  }
  &__box-data {
    width: 95%;
  }

  &__data-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__data-item-box {
    background-color: #ffffff;
    box-shadow: 5px 5px 10px #bfbfbf, -5px -5px 10px #ffffff;
    padding: 0rem 2rem;
    margin: 1.5rem 3rem;
    cursor: pointer;
  }

  &__data-item {
    display: flex;
    justify-content: space-between;
    width: 325px;
    align-items: center;
    padding-top: 2rem;
    cursor: pointer;
  }

  &__data-item-text {
    width: 180px;
  }

  &__data-item-icon {
    .fa-solid {
      font-size: 2.75rem;
    }
  }

  &__data-item-result {
    font-size: 1.5rem;
    margin-top: 1rem;
  }

  &__data-item-title,
  &__box-title {
    text-transform: uppercase;
    font-weight: bold;
  }

  &__box-title {
    font-size: 1.8rem;
    text-align: center;
  }

  &__box-filters {
    display: flex;
    justify-content: center;
    margin: 3rem;
  }

  &__box-filter {
    padding: 0.5rem 2rem;
    box-shadow: 5px 5px 10px #bfbfbf, -5px -5px 10px #ffffff;
  }

  &__submit-btn {
    padding: 22px;
    font-size: 1.55rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #dadada;
    border: 0px solid black;
    transition: background-color 0.5s, box-shadow 0.5s;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
      box-shadow: 5px 5px 10px #bfbfbf, -5px -5px 10px #ffffff;

    }

    i {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  &__box-chart {
    width: 95%;
    padding: 2.5rem 2.5rem;
    background-color: #fff;
    box-shadow: 5px 5px 10px #bfbfbf, -5px -5px 10px #ffffff;
  }

  &__chart {
    width: 100% !important;
    height: 400px !important;
    background-color: #fff;
  }

  &__box-table {
    width: 95%;
    margin: 5rem 0;
  }
}
