<div class="dashboard">
    <div class="dashboard__box">

        <div class="dashboard__box-data">

            <div class="dashboard__box-items">

                <div class="dashboard__item dashboard__item--temperature">
                    <div class="dashboard__item-text">
                        <p class="dashboard__item-data">{{ latestBodyTemperature }} °C</p>
                        <p class="dashboard__item-title">Temperature</p>
                    </div>
                    <div class="dashboard__item-icon"><i class="fa-solid fa-temperature-quarter"></i></div>
                </div>

                <div class="dashboard__item dashboard__item--saturation">
                    <div class="dashboard__item-text">
                        <p class="dashboard__item-data">{{ latestBloodSaturation }} %</p>
                        <p class="dashboard__item-title">Blood Saturation</p>
                    </div>
                    <div class="dashboard__item-icon"><i class="fa-solid fa-fire-flame-simple"
                            style="color: #e62200;"></i>
                    </div>
                </div>

                <div class="dashboard__item dashboard__item--hearth-rate">
                    <div class="dashboard__item-text">
                        <p class="dashboard__item-data">{{ latestHearthRate }} bpm</p>
                        <p class="dashboard__item-title">Hearth Rate</p>
                    </div>
                    <div class="dashboard__item-icon"><i class="fa-solid fa-heart-pulse"></i></div>
                </div>

            </div>


            <div class="dashboard__box-items">

                <div class="dashboard__item dashboard__item--body-weight">
                    <div class="dashboard__item-text">
                        <p class="dashboard__item-data">{{latestBodyWeight}} kg</p>
                        <p class="dashboard__item-title">Body Weight</p>
                    </div>
                    <div class="dashboard__item-icon"><i class="fa-solid fa-weight-scale"></i></div>
                </div>

                <div class="dashboard__item dashboard__item--respiration-rate">
                    <div class="dashboard__item-text">
                        <p class="dashboard__item-data">{{latestRespirationRate}} / min</p>
                        <p class="dashboard__item-title">Respiration Rate</p>
                    </div>
                    <div class="dashboard__item-icon"><i class="fa-solid fa-lungs"></i></div>
                </div>

                <div class="dashboard__item dashboard__item--blood--pressure">
                    <div class=" dashboard__item-text">
                        <p class="dashboard__item-data">{{latestBloodPressureSystolic}}/{{latestBloodPressureDiastolic}} mm Hg</p>
                        <p class="dashboard__item-title">Blood Pressure</p>
                    </div>
                    <div class="dashboard__item-icon"><i class="fa-solid fa-droplet" style="color: #e62200;"></i></div>
                </div>

            </div>
        </div>


        <div class="dashboard__box-chart">
            <div class="dashboard__chart-container">
                <canvas  id="chart-line"  ></canvas>
          </div>
            
        </div>

        <div class="dashboard__box-table">
            <div class="dashboard__table">1212121212</div>
        </div>

    </div>
</div>