<div class="map">
    <div class="map__container">
        <h1 class="map__title"><b>Medical Places</b></h1>
        <p class="map__text">Here you can search for hospital/medical place</p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d156388.46649111103!2d20.8963865!3d52.2330335!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1705063642273!5m2!1spl!2spl"
            style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</div>