<div class="tables">
    <div class="tables__container">
        <h1 class="tables__title"><b>Tables</b></h1>
        <p class="tables__text">Here is your all health parameters presenteed in tables</p>
        <div class="tables__boxes">
            <div class="tables__box">
                <app-table-temperature></app-table-temperature>
            </div>
            <div class="tables__box">
                <app-table-saturation></app-table-saturation>
            </div>
            <div class="tables__box">
                <app-table-hearthrate></app-table-hearthrate>
            </div>
            <div class="tables__box">
                <app-table-weight></app-table-weight>
            </div>
            <div class="tables__box">
                <app-table-respiration></app-table-respiration>
            </div>
            <div class="tables__box">
                <app-table-pressure></app-table-pressure>
            </div>
        </div>
    </div>

</div>