<div class="mat-elevation-z8">
  <div class="table-title">Body Weight</div>
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date[YYYY-MM-DD]</th>
      <td mat-cell *matCellDef="let row">{{row.date}}</td>
    </ng-container>
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time[HH-MM]</th>
      <td mat-cell *matCellDef="let row">{{row.time}}</td>
    </ng-container>

    <!-- value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Value[kg]</th>
      <td mat-cell *matCellDef="let row">{{row.value}}</td>
    </ng-container>
    <!-- result Column -->
    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Result</th>
      <td mat-cell *matCellDef="let row">{{row.result}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
  </mat-paginator>
</div>